



<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <label>User Name</label>
            <input type="text" [(ngModel)]="username" class="form-control"/>
            <p *ngIf="username.length > 0; else noUsername">{{username}}</p>
            <ng-template #noUsername>
                <p>No UserName</p>
            </ng-template>
            <button [disabled]="username === ''" class="btn btn-primary"
            (click)="username = ''">Reset Value</button>

            <button class="btn btn-success" (click)="createdServer()">Create Server</button>
            <app-server *ngFor="let server of servers"></app-server>
        </div>
    </div>
</div>